{% extends 'base.html' %}

{% block title %} {{post.title}} {% endblock %}

{% block all_posts %}

    <div class="conteiner">
        <div class="row">
            {% for post in all_posts %}

            <div class="col-10 text-center">
                <h5>{{post.title}}</h3>
                <p>{{post.author}}</p>
                <b>{{post.pub_date}}</b>
                <p>{{post.name}}<a href="{% url 'gum:detail' post.id %}"
                     class="btn btn-primary rounded-pill">Подробнее</a></p>
                <div>-------</div>         
            </div>
            
            {% endfor %}
        </div>
    </div>
     
{% endblock %}