{% extends 'base.html' %}

{% block crud %}

        <div class="conteiner ">
            <div class="row justify-content-center">
                <div class="col-4">

                    <form action=" "method="post" class="rounded">

                        {{form.as_p}}
                        {%csrf_token%}
            
                        <button type="submit" class="btn btn-success">Создать пост</button>
                    </form>

                </div>
            </div>
        </div>
       
{%endblock%}