{% extends 'base.html' %}

{% block title %} {{post.title}} {% endblock %}

{% block home %}

    <div class="conteiner ">
        <div class="row "> 
        {% for post in all_posts %}
            <div class="col-6 mx-auto">
                <div class=" ">
                    {%if post.image%}
                        <img class="card-img rounded " src="{{post.image.url}}" alt="PICTURE">
                    {%endif%}
                    <a href="{% url 'gum:category' post.id %}" class="btn btn-link"><h5>{{post.name}}</h3></a>

                </div>
            </div>
        {% endfor %}
        </div>
    </div>
     
{% endblock %}